*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.navbar .navlink ul {
    display: flex;
}
.navbar {
    display:flex;
    padding:50px;
    justify-content: space-between;
    width:auto;
    box-sizing: border-box;
}
.navbar .navlink ul li {
    margin: 0 30px;
}
.navlink {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 15px;
    box-shadow: 10px 10px 10px orange;
}
.logo{
    font-size: 2em;
    font-weight: bold;
    color:orange;
    font-family: "Prompt",Sans-serif;
}

.TOURISTIQUE{
    color: black;
    font-family: "Prompt",Sans-serif;
}
header a{
    color: black;
}
.navbar ul{
    font-weight: bold;

}
.navtext{
    font-size: 3em;
    font-weight: normal;
    color:black;
    text-align: center;
    font-family: "Prompt",Sans-serif;
}
.link::after {
    content:" ";
    display: block;
    width: 100%;
    height: 5px;
    background-color: orange;
    transform:scale(0);
    transition: transform 0.2s ease-in-out;
}
.link:hover::after{
    transform: scale(1);
}
.grid { 
    display:flex;
    justify-content: center;
    padding-top: 30px;
    gap: 10px;
    border-radius: 20px;
    padding-bottom: 30px;

}
img { 
    width: 400px;
    height: 550px;
    object-fit: cover;
    box-shadow: 0 0 10px gray;
    display: block;
}
.image{
    position: relative;
}

.btn{
    color:black;

}
.welcometexte {
    display: flex;
    margin-left: 40px;
    margin-right: 20px;
    font-family: "Prompt",Sans-serif;
}
.barre2 {
    height: 110px;
    border: solid 5px orange;
}
.barre3 {
    height: 110px;
    border: solid 5px orange;
}
.texte {
     margin-left: 10px;
     font-size: 17px;
     color: rgb(125, 119, 119);
}
/* pour image 1 */
.content {
    width: 400px;
    height: 550px;
    top: 0;
    left: 0;
    position:absolute;
    background-color: rgb(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    
}
.content h2  {
    font-size: 45px;
    color: wheat;
    margin-bottom: 15px;
    background: none;
}
.content p {
    font-size: 19px;
    color: aliceblue;
    background: none;
    margin-left: 10px;
    margin-bottom: 40px;
}
.content:hover {
    opacity: 1;
}
.content > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.content:hover > *{
    transform: translateY(0px);
}

/* pour image 2 */
.content2 {
    width: 400px;
    height: 550px;
    top: 0;
    left: 0;
    position:absolute;
    background-color: rgb(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
     transition: 0.6s;
 }
.content2 h2 {
    font-size: 45px;
    color: wheat;
    margin-bottom: 15px;
    background: none;
}
.content2 p {
    font-size: 19px;
    color: aliceblue;
    background: none;
    margin-left: 10px;
    margin-bottom: 40px;
}
.content2:hover {
    opacity: 1;
}
.content2 > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.content2:hover > *{
    transform: translateY(0px);
}

/* Pour image 3 */
.content3 {
    width: 400px;
    height: 550px;
    top: 0;
    left: 0;
    position:absolute;
    background-color: rgb(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
 }
.content3 h2 {
    font-size: 45px;
    color: wheat;
    margin-bottom: 15px;
    background: none;
}
.content3 p {
    font-size: 19px;
    color: aliceblue;
    background: none;
    margin-left: 10px;
    margin-bottom: 40px;
}
.content3:hover {
    opacity: 1;
}
.content3 > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.content3:hover > *{
    transform: translateY(0px);
}

/* Pour image 4 */
.content4 {
    width: 400px;
    height: 550px;
    top: 0;
    left: 0;
    position:absolute;
    background-color: rgb(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
 }
.content4 h2 {
    font-size: 45px;
    color: wheat;
    margin-bottom: 15px;
    background: none;
}
.content4 p {
    font-size: 19px;
    color: aliceblue;
    background: none;
    margin-left: 10px;
    margin-bottom: 40px;
}
.content4:hover {
    opacity: 1;
}
.content4 > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.content4:hover > *{
    transform: translateY(0px);
}

/* Pour image 5 */
.content5 {
    width: 400px;
    height: 550px;
    top: 0;
    left: 0;
    position:absolute;
    background-color: rgb(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
 }
.content5 h2 {
    font-size: 45px;
    color: wheat;
    margin-bottom: 15px;
    background: none;
    text-align: center;
}
.content5 p {
    font-size: 19px;
    color: aliceblue;
    background: none;
    margin-left: 10px;
    margin-bottom: 40px;
}
.content5:hover {
    opacity: 1;
}
.content5 > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.content5:hover > *{
    transform: translateY(0px);
}

/* Pour image 6 */
.content6 {
    width: 400px;
    height: 550px;
    top: 0;
    left: 0;
    position:absolute;
    background-color: rgb(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
 }
.content6 h2 {
    font-size: 45px;
    color: wheat;
    margin-bottom: 15px;
    background: none;
}
.content6 p {
    font-size: 19px;
    color: aliceblue;
    background: none;
    margin-left: 10px;
    margin-bottom: 40px;
}
.content6:hover {
    opacity: 1;
}
.content6 > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.content6:hover > *{
    transform: translateY(0px);
}

.contenu-footer {
    text-align: center;
}
.iconreseauxsociaux { 
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer{
    padding: 20px;
    background:none;
}
form {
    width: 200px;
    margin: 30px; 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
 }

 
 label{
    margin-bottom: 10px;
    display: block;
    background-color: orange;
     }
.enteteform {
    color:black;
    text-align: center;
    background-color: orange;


}
.Formulaire {
    margin-top: 40px;
    width: 100%;
    background-color: orange;

}
.divsecond {
    background-color: orange;
    padding-bottom: 20px;
}
input {
    border: 0;
}
.btnsubmit {
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    font-size: large;
    color: white;
}







/* style page 1 saloum */


/* style navbar saloum.html */

.link1 {
    color: orange;
    font-style: bold;
}


/* style main */



.titre{
    color:wheat;
    text-align: center;
    padding-top: 100px;
    font-size: 5em;
}
.box1 {
      height: 300px;
      width: 95%;
      box-shadow: 0 0 20px orange;
      background-size: cover;
      background-position:center;
      margin-left:auto;
      margin-right:auto; 
      border-radius: 10px; 
      background-image:url(https://as1.ftcdn.net/v2/jpg/04/55/00/92/1000_F_455009281_TWt0aPhElDmUBmgI645hb6D9dikEoTwe.jpg);
}
.welcometexte1 {
    padding-top: 40px;
      display: flex;
      margin-left: 30px;
      margin-right: 30px;
      font-family: "Prompt",Sans-serif;
      margin-top: 30px;
}
 .barre4 {
      height: 145px;
      border: solid 5px orange; 
       }
.texte1 {
       margin-left: 10px;
       font-size: 17px;
       color:black;
}
.boxvideos1{
    padding-top: 50px;
      display: flex;
    padding-bottom: 100px;
}
.boxtexte1{
      font-size: 20px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 30px;
      padding-top:40px;
      padding-bottom: 0px;
      padding-left: 10px;
      padding-right: 10px;
      font-family: "Prompt",Sans-serif;
      background-color: orange;
      border-radius: 10px;
      box-shadow: 0 0 20px;
  
}
video{
      margin-top: 30px;
      max-width: 600px;
      width: 700px;
      box-shadow: 0 0 20px;
      border-radius: 10px;
}

iframe {
    margin-top: 30px;
    max-width: 600px;
    width: 700px;
    box-shadow: 0 0 20px;
    border-radius: 10px;
}



/* Style Page 2  */

.box2 {
    height: 300px;
    width: 95%;
    box-shadow: 0 0 20px orange;
    background-size: cover;
    background-position:bottom;
    margin-left:auto;
    margin-right:auto; 
    border-radius: 10px; 
    background-image: url(https://w.forfun.com/fetch/8a/8af5b1c7c1cd01a9788f42b580a85433.jpeg);
}


.titre2{
    color:wheat;
    text-align: center;
    padding-top: 100px;
    font-size: 7em;
}
.box3 {
    display: flex;
}
.boximg3 {
     box-shadow: 0 0 20px black; 
    border-radius: 20px; 
    object-fit: cover; 
    margin-left: 20px;

}
.boxtexte3{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 30px;
    padding-top:40px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Prompt",Sans-serif;
    background-color: orange;
    border-radius: 10px;
    box-shadow: 0 0 20px;
}

/* Style Page 3 */

.box4 {
    height: 300px;
    width: 95%;
    box-shadow: 0 0 20px orange;
    background-size: cover;
    background-position:center;
    margin-left:auto;
    margin-right:auto; 
    border-radius: 10px; 
    background-image: url(https://lisahomsy.com/wp-content/uploads/2018/11/DJI_0133-1440x959.jpg);

}

/* style page 4 */

.box5 {
    height: 300px;
    width: 95%;
    box-shadow: 0 0 20px orange;
    background-size: cover;
    background-position:bottom;
    margin-left:auto;
    margin-right:auto; 
    border-radius: 10px; 
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Flag_of_Saudi_Arabia.svg/1200px-Flag_of_Saudi_Arabia.svg.png);

}

/* Style Page 5 */

.box6 {
    height: 300px;
    width: 95%;
    box-shadow: 0 0 20px orange;
    background-size: cover;
    background-position:bottom;
    margin-left:auto;
    margin-right:auto; 
    border-radius: 10px; 
    background-image: url(https://i.pinimg.com/originals/e8/0b/e5/e80be5543b55d72c0aad16faf14bcfc7.jpg);

}

   /* style page 6 */


.box7 {
    height: 300px;
    width: 95%;
    box-shadow: 0 0 20px orange;
    background-size: cover;
    background-position:bottom;
    margin-left:auto;
    margin-right:auto; 
    border-radius: 10px; 
    background-image: url(https://techafrique.startupbrics.com/wp-content/uploads/2016/04/senegal-pirogues.jpg);

}